.git/
.github/
.vs/

**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Tt]est[Rr]esults/
artifacts/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.env
.env.*
!.env.example

Dockerfile*
docker-compose*.yml
DOCKER.md
